@font-face {
	font-family: "Outfit";
	font-weight: 300;
	font-style: normal;
	src: url("./assets/fonts/outfit-v11-latin-300.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Outfit";
	font-weight: 400;
	font-style: normal;
	src: url("./assets/fonts/outfit-v11-latin-regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Outfit";
	font-weight: 600;
	font-style: normal;
	src: url("./assets/fonts/outfit-v11-latin-600.woff2") format("woff2");
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-outfit;
	}

	body {
		@apply bg-dark-blue-main text-lg p-5;
	}
}

@layer components {
	.card {
		@apply bg-dark-blue-card rounded-lg p-5 flex flex-col gap-5 max-w-xs;
	}
}
